.performance_activity {
  height: 55%;
  width: 100%;
  padding: 3% 1%;

  .recharts-responsive-container {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    padding: 1%;
    .recharts-wrapper {
      width: 100%;
      height: 100%;
      margin: 0 -15px;
    }
  }
}
