.performance_activity {
  height: 60%;
  width: 100%;
  border: 3px solid greenyellow;

  .recharts-responsive-container {
    width: 100%;
    height: 100%;
    .recharts-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
