.performance {
  border: 3px solid purple;
  width: 70%;
  display: flex;
  flex-direction: column;
  &_cards {
    height: 40%;
    border: 3px solid orangered;
    display: flex;
    justify-content: space-between;
  }
}
