.performance_cards_duration {
  height: 100%;
  width: 32%;
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.recharts-layer.recharts-line-dots {
  display: none;
}

.recharts-wrapper {
  .recharts-default-tooltip {
    border: none;
    background-color: white;
    color: black;
  }
}

.recharts-rectangle.custom-cursor {
  height: 100%;
  overflow: visible;
  z-index: 1;
}

.recharts-line,
.recharts-text,
.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis {
  z-index: 2;
}

.recharts-text {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .recharts-text {
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .performance_cards_duration.recharts-text {
    font-size: 8px;
  }
}
